* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    font-family: Arial, sans-serif;
    /* background: linear-gradient(135deg, #1a1a40, #0082a7); */
    background-color: #1B2B50;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
}



/* ---------sidebarr----------- */

.cover {
    display: flex;
    align-items: center;
    justify-content: start;
}

.hamburger {
    cursor: pointer;
    margin-left: 30px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    z-index: 999;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

.close-btn {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
}


/* Titolo */
#title {
    color: rgb(255, 255, 255);
    font-size: 20pt;
    text-align: left;
    width: 90vw;
    margin: 0 auto;
    padding: 40px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Contenitore generale */
.container-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
    padding: 30px 20px;
    max-width: 90vw;
    width: 100%;
    background-color: #7086A0;
    border-radius: 10px;
}

.box {
    background-color: #2C3E66;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 170px;
    transition: transform 0.3s ease-in-out;
    color: white;
}

.box:hover {
    transform: scale(1.03);
    background: #2A4D69;
    box-shadow: 0px 0px 10px rgba(100, 182, 247, 0.5);
}

.large-box {
    grid-column: span 3;
}

.tall-box {
    grid-row: span 1;
}

.double-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    transition: transform 0.3s ease-in-out;
}



/* ---------Scadenze e notifiche------------- */
.notification-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.notification-buttons button {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background: #FF8C42;
    color: white;
    transition: background 0.3s ease-in-out;
    margin-top: 30px;
    margin-bottom: 5px;
}

.notification-buttons button:hover {
    background: #ff6000;
}

.notification-buttons p {
    padding: 8px;
    font-weight: bold;
    color: rgb(63, 189, 63);
}

/* ----------- Ovuettivi ------------ */

.temporary-graphic {
    background-color: rgb(255, 255, 255);
    height: 90%;
}


