@import url("./_variables.css");

/* Titolo */
#title {
  font-size: 20pt;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 40px 0;
}

/* Display Flex */
.training-bar,
.training-bar-left,
.weekly-training,
.container,
.double-box,
.notification-content,
.notification-buttons,
.notification-button-and-settings {
  display: flex;
}

/* Items center */
.training-bar,
.weekly-training,
.container,
.notification-content,
.notification-button-and-settings {
  align-items: center;
}

/* Direction column */
.training-bar-left,
.container,
.double-box,
.notification-content,
.notification-buttons  {
    flex-direction: column;
}

/* Sezione Schede */
.training-bar {
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: white;
  color: black;
}

.training-bar > div {
  width: 100%;
}

.training-bar-center {
  background-color: var(--color-black-one);
  padding: 30px 20px;
  border-radius: 5px;
}

.progress-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 10px;
}

.percent-text {
  font-size: 1rem;
  font-weight: 500;
  color: var(--success-color);
  margin-left: 8px;
}

.weekly-training {
  justify-content: center;
  margin: 5px;
}

/* Contenitore generale */
.container {
  justify-content: center;
}

.container-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  padding: 30px 20px;
  max-width: 90vw;
  width: 100%;
  background-color: var(--color-gray-blue);
  border-radius: var(--radius-10);
}

.box {
  background-color: var(--color-black-one);
  border-radius: var(--radius-10);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 170px;
  transition: transform 0.3s ease-in-out;
  /* min-width: 80vw; */
}

.box:hover {
  transform: scale(1.03);
}

.large-box {
  grid-column: span 3;
}

.tall-box {
  grid-row: span 1;
}

.double-box {
  justify-content: space-between;
}

/* ---------Scadenze e notifiche------------- */

#notification-box {
  margin-top: 10px;
}

.notification-buttons {
  justify-content: center;
  width: 70%;
}

.notification-buttons button {
  width: 100%;
}

.notification-buttons p {
  padding: 8px;
  font-weight: bold;
  color: var(--color-light-green);
  text-align: left;
}

.notification-button-and-settings {
  justify-content: center;
  margin-top: 20px;
}

.notification-button-and-settings span {
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
}