@import url("./_variables.css");

/* Bottone principale */
.principal_button,
.principal_button-100w,
.principal_button-sm,
.principal_button-form {
  display: inline-block;
  padding: 12px 25px;
  font-weight: bold;
  color: white;
  background: var(--color-orange-one);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  border: none;
  margin: 5px;
}
.principal_button-form,
.principal_button,
.principal_button-100w {
  font-size: 20px;
}

.principal_button-form {
  height: 20%;
  width: 30%;
}

.secondary-button-100w, 
.principal_button-100w {
  width: var(--full);
}

.principal_button-sm {
  font-size: 15px;
}

.principal_button:hover,
.principal_button-100w:hover,
.principal_button-sm:hover,
.principal_button-form:hover {
  background: var(--color-orange-two);
  transform: scale(1.1);
}

/* Bottone secondario */
.secondary-button,
.secondary-button-100w,
.secondary-button-fit {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-base-three);

}
.secondary-button:hover,
.secondary-button-100w:hover,
.secondary-button-fit:hover {
  background: var(--color-light-blue-two);
  transform: scale(1.1);
}
.secondary-button {
  width: 70%;
  padding: 10px;
}

.secondary-button-fit {
  width: 100%;
  padding: 12px 25px;
  margin: 20px;
  font-weight: bold;
}

.secondary-button-100w {
  padding: 10px 70px;
}
