@import url("./_variables.css");

/* ----- Navbar ----- */
.nav-links a,
.nav-links a.selezionata:hover {
  color: var(--color-white);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-blue);
  padding: 15px 30px;
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--color-light-blue-one);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: var(--color-light-blue-one);
  transform: scale(1.05);
}

.nav-links a.selezionata {
  font-size: 22px;
  background-color: var( --color-white);
  color: var( --color-text);
  padding: 8px 15px;
  border-radius: var(--radius-10);
  font-weight: bold;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
}

.nav-links a.selezionata:hover {
  background-color: var(--color-light-blue-one);
  transform: scale(1.05);
}

.profile-container {
  position: relative;
  display: inline-block;
}

#profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#profile-pic:hover {
  transform: scale(1.1);
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 50px;
  background: var(--color-white);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: none;
  flex-direction: column;
  width: 150px;
  z-index: 100;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: var(--color-text);
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.dropdown-menu a:hover {
  background: var(--color-white);
}
