/* Reset e stile base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, var(--color-base-one), var(--color-base-two));
  color: var(--color-white);
  text-align: center;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-blue);
  padding: 15px 30px;
  box-shadow: 0 4px 6px var(--color-text);
  width: 100%;
  margin: 0 auto;
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--color-light-blue-one);
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: var(--color-light-blue-one);
  transform: scale(1.05);
}

.nav-links a.selezionata {
  font-size: 22px;
  background-color: var(--color-white);
  color: var(--color-text);
  padding: 8px 15px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0px 4px 6px var( --color-white-20);
}

.nav-links a.selezionata:hover {
  background-color: var(--color-light-blue-one);
  color: var(--color-white);
  transform: scale(1.05);
}

.profile-container {
  position: relative;
  display: inline-block;
}

#profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#profile-pic:hover {
  transform: scale(1.1);
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 50px;
  background: var(--color-white);
  box-shadow: 0px 4px 10px var(--color-shadow-soft);
  border-radius: 8px;
  display: none;
  flex-direction: column;
  width: 150px;
  z-index: 100;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: var(--color-text);
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.dropdown-menu a:hover {
  background: var(--color-white);
}

/* Main */
.main-content {
  padding: 40px 20px;
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

/* Regole Gamification */
.regole-gamification h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--color-light-blue-one);
}

.testo-colorato {
  color: var(--color-text);
}
.sotto-sezione {
  background-color: var(--color-glass-white);
  padding: 25px;
  border-radius: 12px;
  margin-top: 30px;
  box-shadow: 0 4px 8px var(--color-cold-blue);
  text-align: left;
}

.sotto-sezione h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--color-gold);
}

.sotto-sezione ul {
  list-style-type: disc;
  padding-left: 40px;
}

.sotto-sezione li {
  margin-bottom: 10px;
  color: var(--color-white);
}

/* Badge Section */
.badge-section h1 {
  font-size: 36px;
  margin: 50px 0 30px;
  color: var(--color-light-blue-one);
}

.badge-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 30px;
  justify-items: center;
  justify-content: center;
}

.badge {
  background-color: var(--color-white);
  color: var(--color-base-one);
  padding: 15px 10px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px var(--bg-color-1);
  transition: transform 0.3s;
  width: 150px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge > img {
  width: 70%;
  height: auto;
  border-radius: 50%;
}

.badge:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 194, 255, 0.3);
}

.badge span {
  margin-top: 8px;
  font-size: 14px;
  color: var(--color-gray-dark);
}
