@import url("./_variables.css");

#goals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--full);
    max-width: 600px; /* Evita che il grafico diventi troppo grande */
    margin: auto;
}