@import url("./_variables.css");

/* HERO SECTION */
.hero,
.feature-card,
.faq h2,
.cta-section {
  text-align: center;
}

.hero {
  position: relative;
  padding: 140px 20px;
  background-image: url(../img/parallasse.png);
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Stili del testo */
.hero h1,
.hero p {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hero p {
  font-size: 22px;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

/* ----- FEATURES SECTION ----- */
.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 70px 20px;
  flex-wrap: wrap;
  background: var(--color-base-one);
}

.feature-card {
  background: var(--color-base-three);
  padding: 35px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}
.feature-card:hover {
  transform: scale(1.05);
  background: var(--color-light-blue-two);
  color: rgb(0, 0, 0);
}

.feature-card h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.feature-card p {
  font-size: 19px;
  line-height: 1.5;
}

/* ----- FAQ SECTION ----- */
.faq {
  padding: 70px 20px;
  background: var(--color-base-two);
  border-radius: 12px;
}

.faq h2 {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}

.faq-item {
  margin-bottom: 20px;
  padding: 18px;
  background: var(--color-base-one);
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.faq-item:hover {
  transform: scale(1.03);
}

/* ----- CTA SECTION ----- */
.cta-section {
  padding: 90px 20px;
  background: linear-gradient(135deg, #3b3b98, #003cff);
  border-radius: 12px;
}

.cta-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.cta-section p {
  font-size: 22px;
  max-width: 650px;
  margin: 0 auto 30px;
  line-height: 1.6;
}
