.container-form {
    display: flex;
    justify-content: center;
    max-width: 50%;
    height: 70%;
    background-color: var(--accent-purple);
    background: linear-gradient(45deg, var(--color-text) 0%, var(--color-accent-blue-dark) 100%);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 10px 5px var(--color-overlay-gray);
}

.container-form .input {
    height: 35px;
    width: 350px;
    margin: 10px 0 0 0;
    padding: 0 10px;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    background-color: var(--color-white);
}

.input:first-of-type{
    margin-bottom: 20px;    
}

.container-form p {
    text-align: center;
    margin: 15% 0;
}