* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, var(--color-base-one), var(--color-light-blue-two));
    color: var(--color-white);
    text-align: center;
    margin: 0;
    padding: 0;
}

.profile-container-header {
    max-width: 60%;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background: var(--color-base-three);
    border-radius: 12px;
    box-shadow: 0px 4px 10px var(--bg-color-2);
}

.profile-container-header img {
    min-width: 100px;
    min-height: 100px;
}

/* ----- Info Utente ----- */
#profile-pic-profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

#profile-pic-profile:hover {
    opacity: 0.8;
}


button {
    background: linear-gradient(135deg, var(--color-orange-strong), var(--color-orange-warm));
    color: var(--bg-color-2);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0px 4px 10px var(--bg-color-2);
    margin-bottom: 30px;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px var(--color-text);
}

button:active {
    transform: scale(0.95);
}

input[type="text"], input[type="date"]{
    max-width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: var(--color-indigo);
    color: var(--color-white);
    font-size: 16px;
    box-shadow: 0px 4px 10px var(--bg-color-2);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="date"]:focus {
    background: var(--color-blue-pervinca);
    outline: none;
    box-shadow: 0px 6px 15px var(--color-text);
}

input[type="text"]::placeholder, input[type="date"]::placeholder {
    color: var(--color-gray-medium);
}

/* Stile per il select */
.input-container select {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: var( --color-base-two);
    color: var(--color-white);
    font-size: 16px;
    box-shadow: 0px 4px 10px var(--color-text);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.input-container select:focus {
    background: var( --color-blue-pervinca);
    outline: none;
    box-shadow: 0px 6px 15px var(--color-text);
}






/* Stile per le option */
.input-container select option {
    background: var( --color-base-three);
    color: var(--color-white);
    font-size: 16px;
}

/* Stile per i contenitori degli input */
.input-container {
    margin-bottom: 15px;
    text-align: left;
}

/* Stile per i label */
.input-container label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-orange-warm);
    margin-bottom: 5px;
    text-shadow: 1px 1px 3px var(--bg-color-2);
}

/* Stile per gli input */
.input-container input[type="text"], .input-container input[type="date"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: var(--color-base-two);
    color: var(--color-white);
    font-size: 16px;
    box-shadow: 0px 4px 10px var(--bg-color-2);
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input-container input[type="text"]:focus, .input-container input[type="date"]:focus {
    background: var( --color-blue-pervinca);
    outline: none;
    box-shadow: 0px 6px 15px var(--color-text);
}

.input-container input[type="text"]::placeholder, .input-container input[type="date"]::placeholder {
    color: var(--color-gray-medium);
}
/* ----- Fine Info Utente ----- */


/* ----- Motivational Quote ----- */
.motivational-quote-container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(135deg, var( --color-orange-strong), var(--color-orange-warm));
    border-radius: 15px;
    box-shadow: 0px 4px 15px var(--color-shadow-soft);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.motivational-quote {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-white);
    text-shadow: 2px 2px 5px var(--color-shadow-soft);
}
/* ----- Fine Motivational Quote ----- */

/* ----- SEZIONE GAMIFICATION ----- */
.gamification-container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(135deg, var(--color-primary-blue), var( --color-base-four));
    border-radius: 15px;
    box-shadow: 0px 4px 15px var(--color-shadow-soft);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.gamification-text {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-white);
    text-shadow: 1px 1px 4px var(--color-shadow-soft);
}
/* ----- Fine SEZIONE GAMIFICATION ----- */


/* ----- Badge ----- */
.badge-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.badge {
    background: var(--color-white);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    transition: transform 0.2s ease-in-out;
}

.badge img {
    width: 60px;
    height: 60px;
}

.badge p {
    font-weight: bold;
    margin-top: 5px;
    color: var(--color-text);
}

.badge:hover {
    transform: scale(1.1);
}

.badge.locked {
    opacity: 0.5;
    filter: grayscale(100%);
}
/* ----- Fine Badge ----- */

.bmi-container-big {
    max-width: 60%;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background: var(--color-base-three);
    border-radius: 12px;
    box-shadow: 0px 4px 10px var(--color-shadow-soft);
   
}

.bmi-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

.arrow {
    position: absolute;
    width: 6px;
    height: 140px;
    background-color: var(--color-red);
    transform-origin: bottom center;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    border-radius: 3px;
}

#bmiText {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
