/* Stile generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #1a1a40, #0082a7); 
  color: white;
  height: 100vh;
}

/* Contenitore principale */
.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30%;
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(35, 35, 35, 0.9);
}

/* Titolo */
.container-form h1 {
  margin-bottom: 20px;
}

/* Gruppo di input */
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

form{
  width: 90%;
}

.container-form .input {
  height: 35px;
  width: 100%;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: white;
  transition: box-shadow 0.3s ease-in-out, border 0.3s;
}

.container-form .input:hover, 
.container-form .input:focus {
  box-shadow: 0 0 10px 2px #3b3b98;
  border: 2px solid #3b3b98;
}

/* Sezione Radio Button */
.radio-container {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  padding: 8px ;
  border-radius: 10px;
}

.radio-button {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-checkmark {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}

.radio-button input[type="radio"]:checked + .radio-checkmark {
  background-color: white;
}

.radio-label {
  font-size: 14px;
  font-weight: 600;
}



.container-form p {
  text-align: center;
  margin: 25px 0 10px 0;
}

.container-form a {
  color: #00c6ff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.container-form a:hover {
  color: #007bff;
  text-decoration: underline;
}
