.all-training-cards {
    border: 2px solid var(--color-text);
    display: flex;
    justify-content: center;
    height: 300px;
    flex-wrap: wrap;
    gap: 30px;
}

.training-card {
    background-color: var(--color-light-blue-one);
    border: 1px solid var(--error-color);
    height: 100px;
    padding: 20px;
    border-radius: 14px;
}