@import url('./_variables.css');

/* Assicura che gli elementi non superino la larghezza dello schermo */
* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: var(--bg-color);
}

body {
    font-family: Arial, sans-serif;
    background: var(--bg-color);
    margin: 0;
    padding: 0;
    text-align: center;
}

.dark-mode body {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}